/*gradiant mixin*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 24em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Phenomena-Regular';
  font-size: 17px;
  color: #323232;
  background-color: #fff;
  line-height: 1;
  padding: 0 !important;
  overflow-y: scroll; }

body.modal-open {
  overflow: hidden !important; }

.modal-open {
  overflow-y: scroll !important; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

p {
  font-size: 17px;
  color: #323232;
  font-weight: normal;
  font-family: 'Phenomena-Regular';
  line-height: 25px;
  letter-spacing: 0.020em; }

a {
  -ms-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

a:hover,
a:focus {
  text-decoration: none;
  outline: 0; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
  outline: 0; }

.display_table {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center; }

.display_cell {
  display: table-cell;
  vertical-align: middle; }

@font-face {
  font-family: 'Phenomena-Regular';
  src: url("../fonts/Phenomena-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Phenomena-Regular.otf") format("opentype"), url("../fonts/Phenomena-Regular.woff") format("woff"), url("../fonts/Phenomena-Regular.ttf") format("truetype"), url("../fonts/Phenomena-Regular.svg#Phenomena-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Phenomena-Bold';
  src: url("../fonts/Phenomena-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Phenomena-Bold.otf") format("opentype"), url("../fonts/Phenomena-Bold.woff") format("woff"), url("../fonts/Phenomena-Bold.ttf") format("truetype"), url("../fonts/Phenomena-Bold.svg#Phenomena-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Phenomena-Light';
  src: url("../fonts/Phenomena-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Phenomena-Light.otf") format("opentype"), url("../fonts/Phenomena-Light.woff") format("woff"), url("../fonts/Phenomena-Light.ttf") format("truetype"), url("../fonts/Phenomena-Light.svg#Phenomena-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
.modal-backdrop.in {
  opacity: .7; }

header {
  /*    text-align: center;*/ }
  header nav.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    display: inline-block;
    min-height: auto;
    width: 76.3%;
    text-align: center; }
    header nav.navbar-inverse .navbar-header {
      /* float: none;
      display: inline-block;*/
      vertical-align: middle;
      /* width: 39%;*/
      margin-right: -4px;
      padding: 0 88px;
      float: none;
      display: inline-block; }
      @media only screen and (max-width: 1499px) {
        header nav.navbar-inverse .navbar-header {
          padding: 0 47px; } }
      header nav.navbar-inverse .navbar-header .navbar-brand {
        height: auto;
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0; }
        @media only screen and (max-width: 1499px) {
          header nav.navbar-inverse .navbar-header .navbar-brand {
            width: 150px; } }

header nav.navbar-inverse .navbar-collapse {
  display: inline-block !important;
  vertical-align: middle;
  margin-right: -4px; }
  header nav.navbar-inverse .navbar-collapse .navbar-nav li {
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    display: inline-block;
    float: none;
    vertical-align: middle;
    overflow: hidden; }
    header nav.navbar-inverse .navbar-collapse .navbar-nav li a {
      display: block;
      color: #000;
      font-size: 20px;
      padding: 64px 32px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      position: relative;
      -ms-transition: transform all 0.3s ease-in-out;
      -moz-transition: transform all 0.3s ease-in-out;
      -o-transition: transform all 0.3s ease-in-out;
      -webkit-transition: transform all 0.3s ease-in-out;
      transition: transform all 0.3s ease-in-out; }
      @media only screen and (max-width: 1499px) {
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a {
          font-size: 18px;
          padding: 54px 20px; } }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li a:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -ms-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li a span {
        display: block;
        -moz-transform: skew(11deg);
        -o-transform: skew(11deg);
        -ms-transform: skew(11deg);
        -webkit-transform: skew(11deg);
        transform: skew(11deg); }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li a:hover, header nav.navbar-inverse .navbar-collapse .navbar-nav li a:focus {
        background-color: #562e89;
        color: #fff; }
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a:hover:before, header nav.navbar-inverse .navbar-collapse .navbar-nav li a:focus:before {
          -webkit-transform: scaleY(0);
          transform: scaleY(0); }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn {
        padding: 24px 30px;
        display: block;
        background-color: #562e89;
        color: #fff;
        overflow: hidden;
        position: relative;
        overflow: hidden; }
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:before, header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 3px;
          box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
          background-color: rgba(255, 255, 255, 0.5);
          -ms-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
          -moz-transform: skew(40deg);
          -o-transform: skew(40deg);
          -ms-transform: skew(40deg);
          -webkit-transform: skew(40deg);
          transform: skew(40deg); }
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:before {
          left: -40px; }
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:after {
          left: -100px; }
        header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:hover:before, header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn:hover:after {
          left: 130%; }
        @media only screen and (max-width: 1499px) {
          header nav.navbar-inverse .navbar-collapse .navbar-nav li a.login_btn {
            padding: 13px 19px; } }
    header nav.navbar-inverse .navbar-collapse .navbar-nav li.active a {
      background-color: #562e89 !important;
      color: #fff; }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li.active a:before {
        background-color: #562e89 !important; }
      header nav.navbar-inverse .navbar-collapse .navbar-nav li.active a:hover:before, header nav.navbar-inverse .navbar-collapse .navbar-nav li.active a:focus:before {
        -webkit-transform: scaleY(0);
        transform: scaleY(0); }

header .headr_contact {
  background-color: #7ec24a;
  width: 19.5%;
  float: right;
  height: 148px;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    header .headr_contact {
      height: 128px; } }
  header .headr_contact:after {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    border-color: #7ec24a;
    border-style: solid;
    border-right-width: 16px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-top-width: 145px;
    border-left-width: 0; }
    @media only screen and (max-width: 1499px) {
      header .headr_contact:after {
        border-top-width: 125px; } }
  header .headr_contact .hedr_cont_inn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    header .headr_contact .hedr_cont_inn ul {
      margin-bottom: 10px; }
      header .headr_contact .hedr_cont_inn ul li {
        display: inline-block;
        margin-right: 34px; }
        @media only screen and (max-width: 1499px) {
          header .headr_contact .hedr_cont_inn ul li {
            margin-right: 20px; } }
        header .headr_contact .hedr_cont_inn ul li:last-child {
          margin-right: 0; }
        header .headr_contact .hedr_cont_inn ul li a {
          width: 39px;
          height: 39px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          border-radius: 100%;
          display: block;
          border: 2px solid #fff;
          text-align: center;
          color: #fff;
          position: relative; }
          @media only screen and (max-width: 1499px) {
            header .headr_contact .hedr_cont_inn ul li a {
              width: 34px;
              height: 34px;
              font-size: 17px; } }
          header .headr_contact .hedr_cont_inn ul li a .fa {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
          header .headr_contact .hedr_cont_inn ul li a:hover {
            background-color: #fff;
            color: #fff;
            -moz-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
        header .headr_contact .hedr_cont_inn ul li:first-child a:hover {
          background-color: #3b5998;
          border-color: #3b5998; }
        header .headr_contact .hedr_cont_inn ul li:nth-child(2) a:hover {
          background-color: #da4835;
          border-color: #da4835; }
        header .headr_contact .hedr_cont_inn ul li:nth-child(3) a:hover {
          background-color: #1da1f2;
          border-color: #1da1f2; }
    header .headr_contact .hedr_cont_inn h3 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-family: 'Phenomena-Bold'; }
      @media only screen and (max-width: 1499px) {
        header .headr_contact .hedr_cont_inn h3 {
          font-size: 20px; } }
      header .headr_contact .hedr_cont_inn h3 a {
        color: #fff;
        display: inline-block;
        -ms-transition: all ease-in-out 0.4s;
        -moz-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        -webkit-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
        margin-left: 5px; }
        header .headr_contact .hedr_cont_inn h3 a:hover, header .headr_contact .hedr_cont_inn h3 a:focus {
          color: #562e89;
          -moz-transform: translateX(5px);
          -o-transform: translateX(5px);
          -ms-transform: translateX(5px);
          -webkit-transform: translateX(5px);
          transform: translateX(5px); }

@media only screen and (min-width: 1500px) {
  .container {
    width: 1470px; } }

.banner_con {
  height: 534px;
  position: relative;
  background: #9269c5; }
  @media only screen and (max-width: 1499px) {
    .banner_con {
      height: 434px; } }
  .banner_con .container {
    height: 100%; }
  .banner_con .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #9269c5;
    z-index: 999; }
  .banner_con .overlay_lt {
    left: 0;
    width: 24%; }
    .banner_con .overlay_lt:after {
      content: '';
      position: absolute;
      top: 0;
      right: -88px;
      bottom: 0;
      border-color: #9269c5;
      border-right-color: #9269c5;
      border-bottom-color: #9269c5;
      border-style: solid;
      border-top-width: 531px;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-right-width: 85px; }
  .banner_con .overlay_rt {
    right: 0;
    width: 39.5%; }
    .banner_con .overlay_rt:before {
      content: '';
      position: absolute;
      top: 0;
      left: -48px;
      bottom: 0;
      border-color: #9269c5;
      border-right-color: #9269c5;
      border-bottom-color: #9269c5;
      border-style: solid;
      border-right-width: 48px;
      border-top-color: transparent;
      border-left-color: transparent;
      border-top-width: 524px;
      border-left-width: 0; }
  .banner_con .carousel {
    height: 100%;
    max-width: 85%;
    width: 100%;
    float: right; }
    @media only screen and (max-width: 1499px) {
      .banner_con .carousel {
        max-width: 86%; } }
    .banner_con .carousel .carousel-indicators {
      bottom: 30px;
      left: auto;
      z-index: 9999;
      width: 38%;
      text-align: left;
      right: 0; }
      .banner_con .carousel .carousel-indicators li {
        background-color: #fff;
        border: 0;
        width: 14px;
        height: 14px;
        margin: 0 2px 0 0; }
        .banner_con .carousel .carousel-indicators li.active {
          background-color: #7ec24a;
          width: 14px;
          height: 14px; }
    .banner_con .carousel .carousel-inner {
      height: 100%; }
      .banner_con .carousel .carousel-inner:before {
        content: '';
        position: absolute;
        top: 0;
        left: -56px;
        background: #9269c5;
        width: 100px;
        height: 100%;
        -moz-transform: skew(171deg);
        -o-transform: skew(171deg);
        -ms-transform: skew(171deg);
        -webkit-transform: skew(171deg);
        transform: skew(171deg);
        z-index: 4; }
        @media only screen and (max-width: 1499px) {
          .banner_con .carousel .carousel-inner:before {
            left: -63px; } }
      .banner_con .carousel .carousel-inner .item {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover; }
        .banner_con .carousel .carousel-inner .item .bnr_img {
          position: relative;
          width: 55%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden; }
          .banner_con .carousel .carousel-inner .item .bnr_img:after {
            content: '';
            position: absolute;
            top: 0;
            right: -66px;
            background: #9269c5;
            width: 100px;
            height: 100%;
            -moz-transform: skew(173deg);
            -o-transform: skew(173deg);
            -ms-transform: skew(173deg);
            -webkit-transform: skew(173deg);
            transform: skew(173deg);
            z-index: 0; }
          .banner_con .carousel .carousel-inner .item .bnr_img figure {
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            width: 100%;
            height: 100%; }
        .banner_con .carousel .carousel-inner .item .overlay_text {
          opacity: 0;
          width: 44%;
          text-align: left;
          display: inline-block;
          vertical-align: middle;
          padding-left: 3%;
          z-index: 1;
          position: relative;
          -ms-transition: all ease-n-out 1s;
          -moz-transition: all ease-n-out 1s;
          -o-transition: all ease-n-out 1s;
          -webkit-transition: all ease-n-out 1s;
          transition: all ease-n-out 1s; }
          .banner_con .carousel .carousel-inner .item .overlay_text h1 {
            font-size: 75px;
            line-height: normal;
            color: #fff;
            font-family: 'Phenomena-Bold'; }
            @media only screen and (max-width: 1499px) {
              .banner_con .carousel .carousel-inner .item .overlay_text h1 {
                font-size: 60px; } }
        .banner_con .carousel .carousel-inner .item.active {
          position: inherit !important; }
          .banner_con .carousel .carousel-inner .item.active .overlay_text {
            opacity: 1; }

/*about us css*/
.about_con {
  border-top: 1px solid #dddddd;
  padding: 72px 0;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .about_con {
      padding: 60px 0; } }
  .about_con .about_inn .about_lt {
    width: 24.8%;
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .about_con .about_inn .about_lt figure {
      height: 360px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-bottom: 11px; }
      @media only screen and (max-width: 1499px) {
        .about_con .about_inn .about_lt figure {
          height: 290px; } }
      .about_con .about_inn .about_lt figure:last-child {
        margin-bottom: 0;
        position: absolute;
        bottom: -360px;
        left: 0;
        z-index: 99; }
        @media only screen and (max-width: 1499px) {
          .about_con .about_inn .about_lt figure:last-child {
            bottom: -300px; } }
  .about_con .about_inn .about_rt {
    width: 40.5%;
    display: inline-block;
    vertical-align: top;
    margin-left: 9%;
    position: relative;
    z-index: 99999; }
    @media only screen and (max-width: 1499px) {
      .about_con .about_inn .about_rt {
        margin-left: 5%; } }
    .about_con .about_inn .about_rt h2 {
      font-size: 49px;
      color: #000;
      font-weight: normal;
      font-family: 'Phenomena-Bold';
      border-bottom: 1px solid #7ec24a;
      padding-bottom: 30px;
      margin-bottom: 36px; }
      @media only screen and (max-width: 1499px) {
        .about_con .about_inn .about_rt h2 {
          font-size: 40px;
          padding-bottom: 15px;
          margin-bottom: 18px; } }
    .about_con .about_inn .about_rt p {
      margin-bottom: 27px; }
      @media only screen and (max-width: 1499px) {
        .about_con .about_inn .about_rt p {
          font-size: 17px;
          margin-bottom: 15px; } }
    .about_con .about_inn .about_rt a.contact_us {
      background-color: #562e89;
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.050em;
      display: inline-block;
      padding: 20px 37px;
      position: relative;
      position: relative;
      overflow: hidden;
      margin-top: 34px; }
      .about_con .about_inn .about_rt a.contact_us:before, .about_con .about_inn .about_rt a.contact_us:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        -moz-transform: skew(40deg);
        -o-transform: skew(40deg);
        -ms-transform: skew(40deg);
        -webkit-transform: skew(40deg);
        transform: skew(40deg); }
      .about_con .about_inn .about_rt a.contact_us:before {
        left: -40px; }
      .about_con .about_inn .about_rt a.contact_us:after {
        left: -100px; }
      .about_con .about_inn .about_rt a.contact_us:hover:before, .about_con .about_inn .about_rt a.contact_us:hover:after {
        left: 130%; }
      @media only screen and (max-width: 1499px) {
        .about_con .about_inn .about_rt a.contact_us {
          font-size: 20px;
          margin-top: 20px;
          padding: 15px 32px; } }
  .about_con .about_aftr {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .about_con .about_aftr:before {
      content: '';
      position: absolute;
      top: 0px;
      right: 249px;
      background-color: #fff;
      z-index: 99;
      width: 610px;
      height: 100%;
      transform: skew(-39deg); }
      @media only screen and (max-width: 1499px) {
        .about_con .about_aftr:before {
          right: 217px; } }
    .about_con .about_aftr:after {
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7); }

.about_botm_sec {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 280px; }
  @media only screen and (max-width: 1499px) {
    .about_botm_sec {
      height: 200px; } }
  .about_botm_sec:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }

/*level css start*/
.level_con {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0 55px;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .level_con {
      padding: 70px 0 25px; } }
  .level_con:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9; }
  .level_con .level_inn {
    position: relative;
    z-index: 99; }
    .level_con .level_inn .level_bx_outr .level_bx {
      min-height: 396px;
      box-shadow: 0 0 7px 1px rgba(153, 153, 153, 0.768627451);
      background-color: #f2f2f2;
      position: relative;
      overflow: hidden;
      margin-bottom: 45px;
      -ms-transition: all ease-in-out 0.5s;
      -moz-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      -webkit-transition: all ease-in-out 0.5s;
      transition: all ease-in-out 0.5s; }
      @media only screen and (max-width: 1499px) {
        .level_con .level_inn .level_bx_outr .level_bx {
          min-height: 366px;
          margin-bottom: 30px; } }
      .level_con .level_inn .level_bx_outr .level_bx:hover {
        box-shadow: 0 8px 10px 1px rgba(153, 153, 153, 0.768627451); }
      .level_con .level_inn .level_bx_outr .level_bx .level_cont {
        padding: 0 20px;
        text-align: center;
        height: 100%;
        padding-bottom: 74px; }
        .level_con .level_inn .level_bx_outr .level_bx .level_cont h3 {
          border-bottom: 1px solid #7ec24a;
          font-size: 26px;
          color: #323232;
          font-weight: normal;
          font-family: 'Phenomena-Bold';
          padding: 17px 10px;
          margin-bottom: 30px; }
        .level_con .level_inn .level_bx_outr .level_bx .level_cont figure {
          width: 123px;
          height: 123px;
          background-color: #7ec24a;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          border-radius: 100%;
          display: inline-block;
          margin-bottom: 20px;
          background-repeat: no-repeat;
          -ms-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
          background-position: center center; }
          @media only screen and (max-width: 1499px) {
            .level_con .level_inn .level_bx_outr .level_bx .level_cont figure {
              width: 100px;
              height: 100px;
              margin-bottom: 10px; } }
        .level_con .level_inn .level_bx_outr .level_bx .level_cont h4 {
          font-size: 26px;
          color: #000;
          font-weight: normal;
          font-family: 'Phenomena-Bold';
          letter-spacing: 0.025em; }
          @media only screen and (max-width: 1499px) {
            .level_con .level_inn .level_bx_outr .level_bx .level_cont h4 {
              font-size: 22px;
              line-height: 27px; } }
      .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn {
        position: relative;
        overflow: hidden;
        background-color: #562e89;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.050em;
        display: inline-block;
        display: block;
        padding: 20px 40px 20px 50px;
        text-transform: capitalize;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99; }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:before, .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 3px;
          box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
          background-color: rgba(255, 255, 255, 0.5);
          -ms-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
          -moz-transform: skew(40deg);
          -o-transform: skew(40deg);
          -ms-transform: skew(40deg);
          -webkit-transform: skew(40deg);
          transform: skew(40deg); }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:before {
          left: -40px; }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:after {
          left: -100px; }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:hover:before, .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:hover:after {
          left: 130%; }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn .fa {
          float: right;
          -ms-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s; }
        .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn:hover .fa {
          -moz-transform: translateX(10px);
          -o-transform: translateX(10px);
          -ms-transform: translateX(10px);
          -webkit-transform: translateX(10px);
          transform: translateX(10px); }
        @media only screen and (max-width: 1499px) {
          .level_con .level_inn .level_bx_outr .level_bx a.show_more_btn {
            padding: 16px 40px 16px 50px; } }
      .level_con .level_inn .level_bx_outr .level_bx .level_overlay {
        position: absolute;
        top: 0;
        -moz-transform: translateY(116%);
        -o-transform: translateY(116%);
        -ms-transform: translateY(116%);
        -webkit-transform: translateY(116%);
        transform: translateY(116%);
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        left: 0;
        bottom: 0;
        z-index: 9;
        right: 0;
        background-color: rgba(86, 46, 137, 0.9); }
        .level_con .level_inn .level_bx_outr .level_bx .level_overlay .level_cont h3 {
          color: #fff;
          border-color: #fff; }
        .level_con .level_inn .level_bx_outr .level_bx .level_overlay .level_cont p {
          color: #fff;
          font-family: 'Phenomena-Bold';
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.025em;
          padding: 40px 20px; }
          @media only screen and (max-width: 1499px) {
            .level_con .level_inn .level_bx_outr .level_bx .level_overlay .level_cont p {
              padding: 20px 20px;
              font-size: 17px; } }
      .level_con .level_inn .level_bx_outr .level_bx:hover .level_overlay {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s; }
      .level_con .level_inn .level_bx_outr .level_bx:hover figure {
        background-color: #562e89;
        border-radius: 0; }
    .level_con .level_inn .level_bx_outr .level_static {
      background: url(../images/level-bx-bg.jpg) center center no-repeat;
      height: 396px; }
      @media only screen and (max-width: 1499px) {
        .level_con .level_inn .level_bx_outr .level_static {
          height: 360px; } }
      .level_con .level_inn .level_bx_outr .level_static h3 {
        font-size: 49px;
        color: #fff;
        font-family: 'Phenomena-Bold';
        border-bottom: 1px solid #fff;
        display: inline-block;
        padding-bottom: 16px; }
        @media only screen and (max-width: 1499px) {
          .level_con .level_inn .level_bx_outr .level_static h3 {
            font-size: 40px;
            padding-bottom: 10px; } }

/*newsletter sec css*/
.newsletter_con {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 68px 0; }
  .newsletter_con:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(86, 46, 137, 0.87); }
  .newsletter_con .newleter_inn {
    position: relative;
    z-index: 999; }
    .newsletter_con .newleter_inn h2 {
      font-size: 49px;
      color: #000;
      font-weight: normal;
      font-family: 'Phenomena-Bold';
      border-bottom: 1px solid #7ec24a;
      padding-bottom: 30px;
      margin-bottom: 36px;
      display: inline-block;
      border-bottom-color: #7ec24a;
      color: #fff;
      padding-bottom: 25px;
      margin-bottom: 57px; }
      @media only screen and (max-width: 1499px) {
        .newsletter_con .newleter_inn h2 {
          font-size: 40px;
          padding-bottom: 15px;
          margin-bottom: 18px; } }
      @media only screen and (max-width: 1499px) {
        .newsletter_con .newleter_inn h2 {
          margin-bottom: 40px; } }
    .newsletter_con .newleter_inn .newleter_form form {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .newsletter_con .newleter_inn .newleter_form form input[type="text"].form-control {
        /* margin-right: 6px;*/
        box-shadow: none;
        border-radius: 0;
        border-width: 2px;
        border-color: transparent;
        height: 70px;
        width: 40.7%;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-family: 'Phenomena-Bold'; }
        @media only screen and (max-width: 1499px) {
          .newsletter_con .newleter_inn .newleter_form form input[type="text"].form-control {
            height: 60px; } }
        .newsletter_con .newleter_inn .newleter_form form input[type="text"].form-control:hover, .newsletter_con .newleter_inn .newleter_form form input[type="text"].form-control:focus {
          border-color: #7ec24a; }
      .newsletter_con .newleter_inn .newleter_form form .n_field {
        text-transform: capitalize; }
      .newsletter_con .newleter_inn .newleter_form form input[type="submit"].submit_btn {
        background-color: #7ec24a;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.050em;
        display: inline-block;
        padding: 20px 66px;
        text-align: center;
        height: 70px;
        display: inline-block;
        vertical-align: top;
        border: 0;
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s; }
        @media only screen and (max-width: 1499px) {
          .newsletter_con .newleter_inn .newleter_form form input[type="submit"].submit_btn {
            height: 60px;
            padding: 20px 33px; } }
        .newsletter_con .newleter_inn .newleter_form form input[type="submit"].submit_btn:hover, .newsletter_con .newleter_inn .newleter_form form input[type="submit"].submit_btn:focus {
          background-color: #fff;
          color: #7ec24a; }

footer {
  background-color: #000;
  padding: 28px 0; }
  @media only screen and (max-width: 1499px) {
    footer {
      padding: 20px 0; } }
  footer p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.025em; }
    footer p span {
      float: right; }
      footer p span a {
        color: #1dbdeb; }
        footer p span a:hover {
          color: #7ec24a; }

/*about us page css*/
.banner_inn_con {
  height: 529px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .banner_inn_con {
      height: 370px; } }
  .banner_inn_con:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); }

/*our vision css*/
.our_visio_con {
  padding: 86px 0 100px; }
  @media only screen and (max-width: 1499px) {
    .our_visio_con {
      padding: 60px 0; } }
  .our_visio_con .our_visio_lt {
    width: 49%;
    display: inline-block; }
    .our_visio_con .our_visio_lt h2 {
      font-size: 49px;
      color: #000;
      font-weight: normal;
      font-family: 'Phenomena-Bold';
      border-bottom: 1px solid #7ec24a;
      padding-bottom: 30px;
      margin-bottom: 36px;
      margin-bottom: 26px; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_lt h2 {
          font-size: 40px;
          padding-bottom: 15px;
          margin-bottom: 18px; } }
    .our_visio_con .our_visio_lt h3 {
      font-size: 17px;
      color: #323232;
      font-family: 'Phenomena-Bold';
      margin-bottom: 30px; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_lt h3 {
          margin-bottom: 15px; } }
    .our_visio_con .our_visio_lt p {
      margin-bottom: 28px; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_lt p {
          margin-bottom: 15px; } }
    .our_visio_con .our_visio_lt .contact_btn {
      background-color: #562e89;
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.050em;
      display: inline-block;
      padding: 20px 37px;
      position: relative;
      margin-top: 30px;
      position: relative;
      overflow: hidden; }
      .our_visio_con .our_visio_lt .contact_btn:before, .our_visio_con .our_visio_lt .contact_btn:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        -moz-transform: skew(40deg);
        -o-transform: skew(40deg);
        -ms-transform: skew(40deg);
        -webkit-transform: skew(40deg);
        transform: skew(40deg); }
      .our_visio_con .our_visio_lt .contact_btn:before {
        left: -40px; }
      .our_visio_con .our_visio_lt .contact_btn:after {
        left: -100px; }
      .our_visio_con .our_visio_lt .contact_btn:hover:before, .our_visio_con .our_visio_lt .contact_btn:hover:after {
        left: 130%; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_lt .contact_btn {
          font-size: 20px;
          margin-top: 20px;
          padding: 15px 32px; } }
  .our_visio_con .our_visio_rt figure {
    width: 648px;
    height: 464px;
    position: relative;
    border-top: 1px solid #f2f0f4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 1499px) {
      .our_visio_con .our_visio_rt figure {
        width: 468px;
        height: 335px; } }
    .our_visio_con .our_visio_rt figure:before {
      content: '';
      position: absolute;
      top: auto;
      bottom: -27px;
      left: -27px;
      right: auto;
      width: 27px;
      height: 100%;
      background-color: #eaeaea; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_rt figure:before {
          left: -20px;
          width: 20px;
          bottom: -20px; } }
    .our_visio_con .our_visio_rt figure:after {
      content: '';
      position: absolute;
      top: auto;
      bottom: -27px;
      left: -27px;
      right: auto;
      width: 100%;
      height: 27px;
      background-color: #eaeaea; }
      @media only screen and (max-width: 1499px) {
        .our_visio_con .our_visio_rt figure:after {
          bottom: -20px;
          left: -20px;
          height: 20px; } }

/*our founder con*/
.our_founder_con {
  background-color: #f9f9f9;
  padding: 50px 0 60px;
  text-align: center; }
  .our_founder_con h2 {
    font-size: 49px;
    color: #000;
    font-weight: normal;
    font-family: 'Phenomena-Bold';
    border-bottom: 1px solid #7ec24a;
    padding-bottom: 30px;
    margin-bottom: 36px;
    margin-bottom: 58px;
    padding-bottom: 0;
    border-bottom: 0;
    text-align: center; }
    @media only screen and (max-width: 1499px) {
      .our_founder_con h2 {
        font-size: 40px;
        padding-bottom: 15px;
        margin-bottom: 18px; } }
  .our_founder_con .our_foundr_inn {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    .our_founder_con .our_foundr_inn .foundr_pro {
      margin-bottom: 40px;
      width: 100%;
      display: inline-block; }
      .our_founder_con .our_foundr_inn .foundr_pro:last-child {
        margin-bottom: 0; }
      .our_founder_con .our_foundr_inn .foundr_pro figure {
        width: 367px;
        height: 450px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        margin: 0 6px 0 96px; }
        @media only screen and (max-width: 1499px) {
          .our_founder_con .our_foundr_inn .foundr_pro figure {
            width: 300px;
            height: 380px; } }
      .our_founder_con .our_foundr_inn .foundr_pro .foundr_cont {
        width: 60.5%;
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        padding: 24px 20px;
        position: relative;
        text-align: left; }
        .our_founder_con .our_foundr_inn .foundr_pro .foundr_cont:before {
          content: '';
          position: absolute;
          top: 0;
          left: -470px;
          bottom: 0;
          width: 85px;
          background-color: #fff; }
          @media only screen and (max-width: 1499px) {
            .our_founder_con .our_foundr_inn .foundr_pro .foundr_cont:before {
              left: -403px; } }
        .our_founder_con .our_foundr_inn .foundr_pro .foundr_cont h3 {
          font-size: 30px;
          color: #000;
          font-family: 'Phenomena-Bold';
          margin-bottom: 6px; }
          @media only screen and (max-width: 1499px) {
            .our_founder_con .our_foundr_inn .foundr_pro .foundr_cont h3 {
              font-size: 24px; } }
      .our_founder_con .our_foundr_inn .foundr_pro h4 {
        font-size: 20px;
        color: #000;
        padding-bottom: 26px;
        border-bottom: 1px solid #7ec24a;
        margin-bottom: 21px; }
        @media only screen and (max-width: 1499px) {
          .our_founder_con .our_foundr_inn .foundr_pro h4 {
            font-size: 18px;
            padding-bottom: 16px;
            margin-bottom: 11px; } }

/*gallery page css*/
.gallery_con {
  border-top: 1px solid #f9f9f9; }
  .gallery_con .gallery_bx {
    background-color: #fff;
    padding: 90px 0;
    background-color: #fff; }
    @media only screen and (max-width: 1499px) {
      .gallery_con .gallery_bx {
        padding: 60px 0; } }
    .gallery_con .gallery_bx:nth-child(even) {
      background-color: #f9f9f9; }
      .gallery_con .gallery_bx:nth-child(even) figure {
        float: right; }
      .gallery_con .gallery_bx:nth-child(even) .figure_content {
        padding-left: 0;
        padding-right: 50px; }
        @media only screen and (max-width: 1499px) {
          .gallery_con .gallery_bx:nth-child(even) .figure_content {
            padding-left: 0; } }
    .gallery_con .gallery_bx figure {
      width: 394px;
      height: 480px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      vertical-align: top; }
      @media only screen and (max-width: 1499px) {
        .gallery_con .gallery_bx figure {
          width: 345px;
          height: 422px; } }
    .gallery_con .gallery_bx .figure_content {
      width: 69%;
      display: inline-block;
      padding-left: 50px;
      vertical-align: top; }
      @media only screen and (max-width: 1499px) {
        .gallery_con .gallery_bx .figure_content {
          padding-left: 30px; } }
      .gallery_con .gallery_bx .figure_content h3 {
        font-size: 32px;
        color: #000;
        margin: -7px 0 8px;
        font-family: 'Phenomena-Bold'; }
        @media only screen and (max-width: 1499px) {
          .gallery_con .gallery_bx .figure_content h3 {
            font-size: 25px; } }
      .gallery_con .gallery_bx .figure_content h4 {
        font-size: 24px;
        color: #000;
        padding-bottom: 20px;
        border-bottom: 1px solid #7ec24a;
        margin-bottom: 28px;
        font-weight: normal; }
        @media only screen and (max-width: 1499px) {
          .gallery_con .gallery_bx .figure_content h4 {
            font-size: 20px;
            padding-bottom: 17px;
            margin-bottom: 18px; } }
      .gallery_con .gallery_bx .figure_content p {
        margin-bottom: 28px; }
      .gallery_con .gallery_bx .figure_content h5 {
        font-size: 20px;
        color: #562e89;
        font-family: 'Phenomena-Bold';
        letter-spacing: 0.025em;
        font-weight: normal; }

/*corporation page css*/
.corporation_con {
  background-color: #f9f9f9;
  padding: 93px 0 34px; }
  @media only screen and (max-width: 1499px) {
    .corporation_con {
      padding: 60px 0 0; } }
  .corporation_con .corporation_bx {
    margin-bottom: 58px; }
    .corporation_con .corporation_bx .corpo_bx_inn {
      background-color: #fff;
      -ms-transition: all ease-in-out 0.5s;
      -moz-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      -webkit-transition: all ease-in-out 0.5s;
      transition: all ease-in-out 0.5s; }
      .corporation_con .corporation_bx .corpo_bx_inn figure.main_figure {
        width: 100%;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .corporation_con .corporation_bx .corpo_bx_inn .figure_head {
        background-color: #562e89;
        padding: 21px 22px; }
        @media only screen and (max-width: 1499px) {
          .corporation_con .corporation_bx .corpo_bx_inn .figure_head {
            padding: 15px 22px; } }
        .corporation_con .corporation_bx .corpo_bx_inn .figure_head h3 {
          color: #fff;
          font-size: 26px;
          font-family: 'Phenomena-Bold';
          letter-spacing: 0.025em; }
          @media only screen and (max-width: 1499px) {
            .corporation_con .corporation_bx .corpo_bx_inn .figure_head h3 {
              font-size: 22px; } }
      .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont {
        padding: 14px 22px 20px;
        background-color: #fff; }
        .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx {
          margin-bottom: 13px; }
          .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx figure {
            width: 62px;
            height: 62px;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px; }
          .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx .pro_cont {
            display: inline-block;
            vertical-align: middle; }
            .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx .pro_cont h3 {
              font-size: 24px;
              color: #000;
              font-family: 'Phenomena-Bold';
              margin-bottom: 2px; }
              @media only screen and (max-width: 1499px) {
                .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx .pro_cont h3 {
                  font-size: 22px; } }
            .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .pro_figure_bx .pro_cont h4 {
              font-size: 15px;
              color: #000; }
        .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont p {
          line-height: 27px; }
        .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .get_touch_btn {
          color: #562e89;
          font-size: 20px;
          border-bottom: 1px solid #562e89;
          font-family: 'Phenomena-Bold';
          margin-top: 13px;
          display: inline-block; }
          .corporation_con .corporation_bx .corpo_bx_inn .corpo_cont .get_touch_btn:hover {
            margin-left: 10px;
            border-bottom: 1px solid #7ec24a;
            color: #7ec24a; }
      .corporation_con .corporation_bx .corpo_bx_inn:hover {
        box-shadow: 0 10px 10px 0 #ddd;
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); }

/*popup style*/
.modal {
  z-index: 999999; }
  .modal .modal-dialog {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important; }
    .modal .modal-dialog:after {
      content: "";
      position: absolute;
      bottom: -67px;
      left: 0;
      right: 0;
      height: 68px;
      background: url(../images/pop-shadow.png) center bottom no-repeat; }
    .modal .modal-dialog .pop_body {
      background-color: #fff;
      padding: 50px 62px 60px;
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .modal .modal-dialog .pop_body {
          padding: 30px 42px 40px; } }
      .modal .modal-dialog .pop_body .close {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 40px; }
        .modal .modal-dialog .pop_body .close:hover, .modal .modal-dialog .pop_body .close:focus {
          outline: 0; }
      .modal .modal-dialog .pop_body .pop_header {
        margin-bottom: 48px; }
        @media only screen and (max-width: 1499px) {
          .modal .modal-dialog .pop_body .pop_header {
            margin-bottom: 38px; } }
        .modal .modal-dialog .pop_body .pop_header h2 {
          font-size: 49px;
          color: #000;
          font-weight: normal;
          font-family: 'Phenomena-Bold';
          border-bottom: 1px solid #7ec24a;
          padding-bottom: 30px;
          margin-bottom: 36px;
          border: 0;
          padding: 0;
          margin: 0;
          text-transform: capitalize; }
          @media only screen and (max-width: 1499px) {
            .modal .modal-dialog .pop_body .pop_header h2 {
              font-size: 40px;
              padding-bottom: 15px;
              margin-bottom: 18px; } }
          @media only screen and (max-width: 1499px) {
            .modal .modal-dialog .pop_body .pop_header h2 {
              margin-bottom: 0;
              padding: 0; } }
        .modal .modal-dialog .pop_body .pop_header p a {
          color: #562e89; }
          .modal .modal-dialog .pop_body .pop_header p a:hover {
            color: #7ec24a; }
      .modal .modal-dialog .pop_body .form_bx .form-group {
        margin-bottom: 30px; }
        @media only screen and (max-width: 1499px) {
          .modal .modal-dialog .pop_body .form_bx .form-group {
            margin-bottom: 20px; } }
        .modal .modal-dialog .pop_body .form_bx .form-group:last-of-type {
          margin-bottom: 0; }
        .modal .modal-dialog .pop_body .form_bx .form-group input.form-control {
          border-radius: 0;
          border-color: #c9c9c9;
          font-size: 17px;
          box-shadow: none;
          height: 50px;
          font-family: 'arial';
          font-weight: 300; }
          .modal .modal-dialog .pop_body .form_bx .form-group input.form-control:hover, .modal .modal-dialog .pop_body .form_bx .form-group input.form-control:focus {
            border-color: #562e89; }
          @media only screen and (max-width: 1499px) {
            .modal .modal-dialog .pop_body .form_bx .form-group input.form-control {
              font-size: 15px;
              height: 45px; } }
        .modal .modal-dialog .pop_body .form_bx .form-group p.forgot_pass {
          text-align: right;
          margin-top: 5px;
          letter-spacing: 0.025em; }
          .modal .modal-dialog .pop_body .form_bx .form-group p.forgot_pass a {
            color: #fc0b04; }
            .modal .modal-dialog .pop_body .form_bx .form-group p.forgot_pass a:hover {
              color: #7ec24a; }
        .modal .modal-dialog .pop_body .form_bx .form-group input[type="submit"].sbmt_btn {
          background-color: #562e89;
          font-size: 22px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 0.050em;
          display: inline-block;
          display: block;
          width: 100%;
          border: 0;
          outline: 0;
          padding: 14px 10px 16px;
          -ms-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          -webkit-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s; }
          .modal .modal-dialog .pop_body .form_bx .form-group input[type="submit"].sbmt_btn:hover, .modal .modal-dialog .pop_body .form_bx .form-group input[type="submit"].sbmt_btn:focus {
            background-color: #7ec24a; }
      .modal .modal-dialog .pop_body .form_bx p.register_btn {
        font-size: 18px;
        color: #000;
        margin-top: 16px;
        font-family: 'Phenomena-Light'; }
        .modal .modal-dialog .pop_body .form_bx p.register_btn a {
          color: #562e89; }
          .modal .modal-dialog .pop_body .form_bx p.register_btn a:hover, .modal .modal-dialog .pop_body .form_bx p.register_btn a:focus {
            color: #7ec24a; }

/*faq style*/
.faq_baner_inn h3 {
  font-size: 75px;
  color: #fff;
  position: relative;
  z-index: 9999;
  text-align: right;
  padding-right: 15%; }
  @media only screen and (max-width: 1499px) {
    .faq_baner_inn h3 {
      font-size: 55px; } }

.faq_con {
  background-color: #f9f9f9;
  padding: 90px 0; }
  @media only screen and (max-width: 1499px) {
    .faq_con {
      padding: 60px 0; } }
  .faq_con .faq_inn {
    max-width: 1140px;
    margin: auto;
    width: 100%; }
    .faq_con .faq_inn .faq_search_bx {
      background-color: #fff;
      position: relative;
      margin-bottom: 34px; }
      @media only screen and (max-width: 1499px) {
        .faq_con .faq_inn .faq_search_bx {
          margin-bottom: 28px; } }
      .faq_con .faq_inn .faq_search_bx form input[type="text"].form-control {
        height: 75px;
        background-color: #fff;
        border-radius: 0;
        font-size: 17px;
        color: #323232;
        box-shadow: none;
        border-color: transparent;
        padding-right: 210px; }
        @media only screen and (max-width: 1499px) {
          .faq_con .faq_inn .faq_search_bx form input[type="text"].form-control {
            height: 60px; } }
      .faq_con .faq_inn .faq_search_bx form input[type="submit"].search_btn {
        width: 195px;
        text-align: center;
        font-size: 22px;
        background-color: #562e89;
        height: 75px;
        color: #fff;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        -ms-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        font-family: 'Phenomena-Regular';
        font-weight: normal;
        letter-spacing: 0.050em; }
        @media only screen and (max-width: 1499px) {
          .faq_con .faq_inn .faq_search_bx form input[type="submit"].search_btn {
            height: 60px; } }
        .faq_con .faq_inn .faq_search_bx form input[type="submit"].search_btn:hover, .faq_con .faq_inn .faq_search_bx form input[type="submit"].search_btn:focus {
          outline: 0;
          background-color: #7ec24a; }
    .faq_con .faq_inn .faq_list_bx .faq_list_lt {
      background-color: #fff;
      padding: 26px;
      width: 49%;
      margin-right: 1.6%;
      display: inline-block;
      vertical-align: top; }
      .faq_con .faq_inn .faq_list_bx .faq_list_lt:last-child {
        margin-right: 0; }
      .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion {
        width: 100%; }
        .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li {
          margin-bottom: 8px;
          border: 1px solid #d8d8d8;
          margin-bottom: 30px;
          -ms-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li:last-child {
            margin-bottom: 0; }
          .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li:hover .link {
            background-color: #ececec; }
          .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li .link {
            cursor: pointer;
            display: block;
            padding: 18px 18px;
            color: #5a5a5a;
            background-color: transparent;
            position: relative;
            -ms-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
            .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li .link h3 {
              font-size: 18px;
              color: #404041;
              font-family: 'Phenomena-Bold';
              letter-spacing: 0.025em; }
            .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li .link:after {
              content: "\f078";
              position: absolute;
              top: 17px;
              right: 10px;
              font-size: 18px;
              color: #562e89;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit; }
          .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li .submenu {
            display: none;
            padding: 20px 18px 28px;
            background-color: transparent; }
          .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li.open {
            -ms-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
            .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li.open .link {
              background-color: #ececec; }
              .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li.open .link:after {
                content: "\f077"; }
            .faq_con .faq_inn .faq_list_bx .faq_list_lt .accordion li.open .submenu {
              display: block; }

/*contact us style*/
.contact_con {
  padding: 90px 0;
  background-color: #f9f9f9; }
  @media only screen and (max-width: 1499px) {
    .contact_con {
      padding: 60px 0; } }
  .contact_con .contact_inn .custom_form {
    min-height: 742px; }
    @media only screen and (max-width: 1499px) {
      .contact_con .contact_inn .custom_form {
        min-height: 640px; } }
  .contact_con .contact_inn .contact_form_lt {
    background-color: #fff;
    padding: 37px 80px;
    width: 60%;
    display: inline-block;
    margin-right: -4px; }
    @media only screen and (max-width: 1499px) {
      .contact_con .contact_inn .contact_form_lt {
        padding: 36px 50px; } }
    .contact_con .contact_inn .contact_form_lt h2 {
      font-size: 49px;
      color: #000;
      font-weight: normal;
      font-family: 'Phenomena-Bold';
      border-bottom: 1px solid #7ec24a;
      padding-bottom: 30px;
      margin-bottom: 36px;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 39px; }
      @media only screen and (max-width: 1499px) {
        .contact_con .contact_inn .contact_form_lt h2 {
          font-size: 40px;
          padding-bottom: 15px;
          margin-bottom: 18px; } }
    .contact_con .contact_inn .contact_form_lt .form_bx .form-group {
      margin-bottom: 29px; }
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group:first-child {
        text-transform: capitalize; }
        .contact_con .contact_inn .contact_form_lt .form_bx .form-group:first-child input[type="text"].form-control {
          text-transform: capitalize; }
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group:last-child {
        margin-bottom: 0; }
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group textarea.form-control,
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].form-control {
        height: 60px;
        border-radius: 4px;
        padding: 10px 20px;
        border-color: #dedede;
        font-size: 17px;
        font-family: 'Phenomena-Bold';
        box-shadow: none;
        letter-spacing: 0.025em; }
        .contact_con .contact_inn .contact_form_lt .form_bx .form-group textarea.form-control:hover, .contact_con .contact_inn .contact_form_lt .form_bx .form-group textarea.form-control:focus,
        .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].form-control:hover,
        .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].form-control:focus {
          border-color: #562e89; }
        @media only screen and (max-width: 1499px) {
          .contact_con .contact_inn .contact_form_lt .form_bx .form-group textarea.form-control,
          .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].form-control {
            height: 60px; } }
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group textarea.form-control {
        height: 138px;
        resize: none; }
      .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].submit_btn {
        width: 100%;
        text-align: center;
        padding: 28px 10px;
        background-color: #7ec24a;
        color: #fff;
        border: 0;
        outline: 0;
        background-color: #7ec24a;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.050em;
        display: inline-block;
        font-family: 'Phenomena-Bold';
        -ms-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        border-radius: 4px; }
        @media only screen and (max-width: 1499px) {
          .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].submit_btn {
            padding: 18px 10px; } }
        .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].submit_btn:hover, .contact_con .contact_inn .contact_form_lt .form_bx .form-group input[type="text"].submit_btn:focus {
          background-color: #562e89; }
  .contact_con .contact_inn .contact_fotm_rt {
    width: 40%;
    background-color: #000;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    position: relative; }
    .contact_con .contact_inn .contact_fotm_rt iframe {
      width: 100%;
      height: 100%; }
    .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 175px 100px 90px;
      background-color: rgba(86, 46, 137, 0.9); }
      @media only screen and (max-width: 1499px) {
        .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay {
          padding: 115px 50px; } }
      .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li {
        margin-bottom: 47px; }
        @media only screen and (max-width: 1499px) {
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li {
            margin-bottom: 36px; } }
        .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure {
          width: 90px;
          height: 90px;
          border-radius: 100%;
          background-color: #7ec24a;
          display: inline-block;
          vertical-align: middle;
          margin-right: -4px;
          position: relative; }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure svg {
            fill: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: auto; }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #map {
            width: 39px;
            height: 37px; }
            @media only screen and (max-width: 1499px) {
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #map {
                width: 35px;
                height: 32px; } }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #msg {
            width: 43px;
            height: 44px; }
            @media only screen and (max-width: 1499px) {
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #msg {
                width: 33px;
                height: 34px; } }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #mobile {
            width: 27px;
            height: 47px; }
            @media only screen and (max-width: 1499px) {
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure #mobile {
                width: 22px;
                height: 43px; } }
          @media only screen and (max-width: 1499px) {
            .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li figure {
              width: 70px;
              height: 70px; } }
        .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx {
          display: inline-block;
          vertical-align: middle;
          padding-left: 48px;
          width: 75%; }
          @media only screen and (max-width: 1499px) {
            .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx {
              width: 74%;
              padding-left: 40px; } }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx p {
            color: #fff;
            font-size: 24px;
            letter-spacing: 0.025em;
            line-height: 28px; }
            .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx p a {
              color: #fff; }
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx p a:hover {
                color: #7ec24a; }
            @media only screen and (max-width: 1499px) {
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay ul li .adress_bx p {
                font-size: 20px; } }
      .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx {
        position: absolute;
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: right; }
        .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx ul li {
          margin-bottom: 0;
          margin-right: 28px;
          display: inline-block; }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx ul li a:hover svg {
            fill: #7ec24a; }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx ul li a svg {
            width: 62px;
            height: 62px;
            fill: #fff;
            -ms-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
            @media only screen and (max-width: 1499px) {
              .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx ul li a svg {
                width: 52px;
                height: 52px; } }
          .contact_con .contact_inn .contact_fotm_rt .contact_fotm_overlay .sm_bx ul li a:hover img {
            opacity: 0.7; }

/*coruse page css*/
.level_reward_con {
  padding: 75px 0; }
  .level_reward_con h2 {
    font-size: 49px;
    color: #000;
    font-weight: normal;
    font-family: 'Phenomena-Bold';
    border-bottom: 1px solid #7ec24a;
    padding-bottom: 30px;
    margin-bottom: 36px;
    border-bottom: 0;
    padding-bottom: 0;
    text-align: center; }
    @media only screen and (max-width: 1499px) {
      .level_reward_con h2 {
        font-size: 40px;
        padding-bottom: 15px;
        margin-bottom: 18px; } }
  .level_reward_con .courese_aim_blk .course_aim_lt {
    width: 36%;
    display: inline-block;
    vertical-align: top; }
    .level_reward_con .courese_aim_blk .course_aim_lt h3 {
      font-size: 49px;
      color: #000;
      font-weight: normal;
      font-family: 'Phenomena-Bold';
      border-bottom: 1px solid #7ec24a;
      padding-bottom: 30px;
      margin-bottom: 36px;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 30px;
      color: #323232; }
      @media only screen and (max-width: 1499px) {
        .level_reward_con .courese_aim_blk .course_aim_lt h3 {
          font-size: 40px;
          padding-bottom: 15px;
          margin-bottom: 18px; } }
    .level_reward_con .courese_aim_blk .course_aim_lt p {
      font-size: 20px;
      letter-spacing: 0.025em; }
    .level_reward_con .courese_aim_blk .course_aim_lt h4 {
      margin: 30px 0;
      font-family: 'Phenomena-Bold';
      font-size: 20px;
      letter-spacing: 0.020em;
      color: #323232; }
    .level_reward_con .courese_aim_blk .course_aim_lt ul li {
      font-size: 20px;
      color: #323232;
      letter-spacing: 0.025em;
      margin-bottom: 8px; }
  .level_reward_con .courese_aim_blk .course_aim_rt {
    width: 58%;
    display: inline-block;
    vertical-align: top; }
    .level_reward_con .courese_aim_blk .course_aim_rt figure {
      width: 824px;
      height: 424px; }

/*thank you page css*/
.thank_you_con {
  position: relative;
  text-align: center;
  padding: 80px 0;
  background: #562e89;
  /* Old browsers */
  background: -moz-linear-gradient(top, #562e89 0%, #fff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #562e89), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #562e89 0%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #562e89 0%, #fff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #562e89 0%, #fff 100%);
  /* W3C */ }
  .thank_you_con .thank_you_inn {
    max-width: 500px;
    width: 100%;
    height: 500px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    background: #562e89;
    /* Old browsers */
    background: -moz-linear-gradient(top, #562e89 0%, #fff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #562e89), color-stop(100%, #fff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #562e89 0%, #fff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #562e89 0%, #fff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #562e89 0%, #fff 100%);
    /* W3C */
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .thank_you_con .thank_you_inn .thank_cont {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 20px 50px; }
      .thank_you_con .thank_you_inn .thank_cont h1 {
        color: #fff;
        font-size: 63px;
        text-transform: uppercase;
        letter-spacing: 0.50em;
        font-family: 'Phenomena-Bold';
        line-height: 104px;
        margin-bottom: 30px;
        padding-left: 5%; }
        .thank_you_con .thank_you_inn .thank_cont h1 span {
          display: block;
          color: #562e89;
          font-size: 130px;
          text-shadow: -1px 83px 138px #ddd;
          letter-spacing: 0.210em; }
      .thank_you_con .thank_you_inn .thank_cont p {
        font-size: 20px;
        color: #562e89; }

/*# sourceMappingURL=style.css.map */
