@mixin transition($transition...) {
    -ms-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms...) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin pop_transform($transforms...) {
    -moz-transform: $transforms !important;
    -o-transform: $transforms !important;
    -ms-transform: $transforms !important;
    -webkit-transform: $transforms !important;
    transform: $transforms !important;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin btn_effect {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        @include transition(all ease-in-out 0.5s);
        @include transform(skew(40deg));
    }

    &:before {
        left: -40px;
    }
    &:after {
        left: -100px;
    }
    &:hover {
        &:before,
        &:after {
            left: 130%;
        }

    }
}

@mixin h2 {
    font-size: 49px;
    color: $black-color;
    font-weight: normal;
    font-family: 'Phenomena-Bold';
    border-bottom: 1px solid $green-color;
    padding-bottom: 30px;
    margin-bottom: 36px;

    @include media(normal) {
        font-size: 40px;
        padding-bottom: 15px;
        margin-bottom: 18px;
    }
}



@mixin parpal_btn {
    background-color: $parpal-color;
    font-size: 22px;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 0.050em;
    display: inline-block;
}

@mixin green_btn {
    background-color: $green-color;
    font-size: 20px;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 0.050em;
    display: inline-block;
}

@mixin background($background-position, $background-size) {
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: $background-size;
}

@mixin media($point) {

    @if $point==exlarge {
        @media only screen and (min-width: 1500px) {
            @content;
        }
    }

    @if $point==normal {
        @media only screen and (max-width: 1499px) {
            @content;
        }
    }

    @if $point==iPadLand {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==iPad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}



/*gradiant mixin*/

@mixin linearGradient($top, $bottom) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%);
    /* W3C */
}


.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}
