header {
    /*    text-align: center;*/
    nav.navbar-inverse {
        background-color: transparent;
        border-color: transparent;
        border-radius: 0;
        border: 0;
        margin-bottom: 0;
        display: inline-block;
        min-height: auto;
        width: 76.3%;
        text-align: center;

        .navbar-header {
            /* float: none;
            display: inline-block;*/
            vertical-align: middle;
            /* width: 39%;*/
            margin-right: -4px;
            padding: 0 88px;
            float: none;
            display: inline-block;

            @include media(normal) {
                & {
                    padding: 0 47px;
                }
            }

            .navbar-brand {
                height: auto;
                float: none;
                display: inline-block;
                vertical-align: middle;
                padding: 0;

                @include media(normal) {
                    & {
                        width: 150px;
                    }
                }
            }
        }
    }
}


header {
    nav.navbar-inverse {
        .navbar-collapse {
            display: inline-block !important;
            vertical-align: middle;
            margin-right: -4px;

            .navbar-nav {
                li {
                    @include transform(skew(-10deg));
                    display: inline-block;
                    float: none;
                    vertical-align: middle;
                    overflow: hidden;

                    a {
                        display: block;
                        color: $black-color;
                        font-size: 20px;
                        padding: 64px 32px;
                        letter-spacing: 0.025em;
                        text-transform: uppercase;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        position: relative;
                        @include transition(transform all 0.3s ease-in-out);


                        @include media(normal) {
                            & {
                                font-size: 18px;
                                padding: 54px 20px;
                            }
                        }


                        &:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            bottom: 0;
                            left: 0; 
                            right: 0;
                            background: $white-color;
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                            -webkit-transform-origin: 50%;
                            transform-origin: 50%;
                           @include transition(all 0.3s ease-in-out);
                        }

                        span {
                            display: block;
                            @include transform(skew(11deg));
                        }

                        &:hover,
                        &:focus,
                            {
                            background-color: $parpal-color;
                            color: $white-color;

                            &:before {
                                -webkit-transform: scaleY(0);
                                transform: scaleY(0);
                            }
                        }




                        &.login_btn {
                            padding: 24px 30px;
                            display: block;
                            background-color: $parpal-color;
                            color: $white-color;
                            overflow: hidden;
                            @include btn_effect;
                            @include media(normal) {
                                & {
                                    padding: 13px 19px;
                                }
                            }
                        }

                    }

                    &.active {
                        a {
                            background-color: $parpal-color !important;
                            color: $white-color;

                            &:before {
                                background-color: $parpal-color !important;
                            }

                            &:hover,
                            &:focus {
                                &:before {
                                    -webkit-transform: scaleY(0);
                                    transform: scaleY(0);
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}



header {
    .headr_contact {
        background-color: $green-color;
        width: 19.5%;
        float: right;
        height: 148px;
        position: relative;

        @include media(normal) {
            & {
                height: 128px;
            }

        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: -16px;
            border-color: #7ec24a;
            border-style: solid;
            border-right-width: 16px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-top-width: 145px;
            border-left-width: 0;

            @include media(normal) {
                & {
                    border-top-width: 125px;
                }
            }
        }

        .hedr_cont_inn {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            @include transform(translateY(-50%));

            ul {
                margin-bottom: 10px;
                li {
                    display: inline-block;
                    margin-right: 34px;

                    @include media(normal) {
                        & {
                            margin-right: 20px;
                        }
                    }


                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        width: 39px;
                        height: 39px;
                        @include border-radius(100%);
                        display: block;
                        border: 2px solid $white-color;
                        text-align: center;
                        color: $white-color;
                        position: relative;

                        @include media(normal) {
                            & {
                                width: 34px;
                                height: 34px;
                                font-size: 17px;
                            }
                        }

                        .fa {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            @include transform(translateY(-50%));
                        }

                        &:hover {
                            background-color: $white-color;
                            color: $white-color;
                            @include transform(translateY(-5px));
                        }

                    }


                    &:first-child {

                        a {
                            &:hover {
                                background-color: $facebook-color;
                                border-color: $facebook-color;
                            }
                        }

                    }
                    &:nth-child(2) {

                        a {
                            &:hover {
                                background-color: $google-color;
                                border-color: $google-color;
                            }
                        }
                    }
                    &:nth-child(3) {

                        a {
                            &:hover {
                                background-color: $twitter-color;
                                border-color: $twitter-color;
                            }
                        }


                    }
                }
            }

            h3 {
                color: $white-color;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                font-family: 'Phenomena-Bold';

                @include media(normal) {
                    font-size: 20px;
                }

                a {
                    color: $white-color;
                    display: inline-block;
                    @include transition(all ease-in-out .4s);
                    margin-left: 5px;

                    &:hover,
                    &:focus {
                        color: $parpal-color;
                        @include transform(translateX(5px));
                    }
                }
            }

        }
    }
}
