@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Phenomena-Regular';
    font-size: 17px;
    color: $primaryColor;
    background-color: #fff;
    line-height: 1;
    padding: 0 !important;
    overflow-y: scroll;
}
body.modal-open
{
    overflow: hidden !important;
}
.modal-open
{
    overflow-y: scroll !important;
}
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    color: $primaryColor;
    font-weight: normal;
    font-family: 'Phenomena-Regular';
    line-height: 25px;
    letter-spacing: 0.020em;
}

a {
    @include transition(all ease-in-out 0.5s);
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
    outline: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

@font-face {
    font-family: 'Phenomena-Regular';
    src: url('../fonts/Phenomena-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Phenomena-Regular.otf') format('opentype'),
    url('../fonts/Phenomena-Regular.woff') format('woff'),
    url('../fonts/Phenomena-Regular.ttf') format('truetype'),
    url('../fonts/Phenomena-Regular.svg#Phenomena-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Phenomena-Bold';
    src: url('../fonts/Phenomena-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Phenomena-Bold.otf') format('opentype'),
    url('../fonts/Phenomena-Bold.woff') format('woff'),
    url('../fonts/Phenomena-Bold.ttf') format('truetype'),
    url('../fonts/Phenomena-Bold.svg#Phenomena-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Phenomena-Light';
    src: url('../fonts/Phenomena-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Phenomena-Light.otf') format('opentype'),
    url('../fonts/Phenomena-Light.woff') format('woff'), url('../fonts/Phenomena-Light.ttf') format('truetype'), url('../fonts/Phenomena-Light.svg#Phenomena-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

.modal-backdrop.in {
    opacity: .7;
}