$primaryColor: #323232;
$parpal-color:#562e89;
$green-color:#7ec24a;
$grey-color:#f9f9f9;
$black-color:#000;
$white-color:#fff;
$skyblue-color:#1dbdeb;
$facebook-color:#3b5998;
$google-color:#da4835;
$twitter-color:#1da1f2;
$light-parpal:#9269c5;
$border-color:#dddddd;
$level-color:#f2f2f2;
$red-color:#fc0b04;
