@import 'variable';
@import 'function';
@import 'reset';
@import 'header';
@import 'footer';

.container {
    @include media(exlarge) {
        & {
            width: 1470px;
        }
    }
}

.banner_con {
    height: 534px;
    position: relative;
    background: #9269c5;

    @include media(normal) {
        height: 434px;
    }

    .container {
        height: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $light-parpal;
        z-index: 999;
    }

    .overlay_lt {
        left: 0;
        width: 24%;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -88px;
            bottom: 0;
            border-color: #9269c5;
            border-right-color: rgb(146, 105, 197);
            border-bottom-color: rgb(146, 105, 197);
            border-style: solid;
            border-top-width: 531px;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-right-width: 85px;
        }
    }
    .overlay_rt {
        right: 0;
        width: 39.5%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -48px;
            bottom: 0;
            border-color: #9269c5;
            border-right-color: rgb(146, 105, 197);
            border-bottom-color: rgb(146, 105, 197);
            border-style: solid;
            border-right-width: 48px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-top-width: 524px;
            border-left-width: 0;
        }
    }

    .carousel {
        height: 100%;
        max-width: 85%;
        width: 100%;
        float: right;

        @include media(normal) {
            & {
                max-width: 86%;
            }
        }

        .carousel-indicators {
            bottom: 30px;
            left: auto;
            z-index: 9999;
            width: 38%;
            text-align: left;
            right: 0;

            li {
                background-color: $white-color;
                border: 0;
                width: 14px;
                height: 14px;
                margin: 0 2px 0 0;

                &.active {
                    background-color: $green-color;
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .carousel-inner {
            height: 100%;

            &:before {

                content: '';
                position: absolute;
                top: 0;
                left: -56px;
                background: #9269c5;
                width: 100px;
                height: 100%;
                @include transform(skew(171deg));
                z-index: 4;

                @include media(normal) {
                    & {
                        left: -63px;
                    }
                }

            }
            .item {
                height: 100%;
                @include background(center top, cover);

                .bnr_img {
                    position: relative;
                    width: 55%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    &:after {

                        content: '';
                        position: absolute;
                        top: 0;
                        right: -66px;
                        background: #9269c5;
                        width: 100px;
                        height: 100%;
                        @include transform(skew(173deg));
                        z-index: 0;

                    }

                    figure {
                        @include background( center top, cover);
                        width: 100%;
                        height: 100%;

                    }
                }


                .overlay_text {
                    opacity: 0;
                    width: 44%;
                    text-align: left;
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 3%;
                    z-index: 1;
                    position: relative;

                    @include transition(all ease-n-out 1s);
                    h1 {
                        font-size: 75px;
                        line-height: normal;
                        color: $white-color;
                        font-family: 'Phenomena-Bold';

                        @include media(normal) {
                            & {
                                font-size: 60px;
                            }
                        }
                    }
                }

                &.active {
                    position: inherit !important;

                    .overlay_text {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


/*about us css*/

.about_con {
    border-top: 1px solid $border-color;
    padding: 72px 0;
    position: relative;

    @include media(normal) {
        & {
            padding: 60px 0;
        }
    }


    .about_inn {
        .about_lt {
            width: 24.8%;
            display: inline-block;
            vertical-align: top;
            position: relative;


            figure {
                height: 360px;
                width: 100%;
                @include background(center center, cover);
                margin-bottom: 11px;



                @include media(normal) {
                    & {
                        height: 290px;
                    }
                }


                &:last-child {
                    margin-bottom: 0;
                    position: absolute;
                    bottom: -360px;
                    left: 0;
                    z-index: 99;

                    @include media(normal) {
                        & {
                            bottom: -300px;
                        }
                    }
                }
            }
        }


        .about_rt {
            width: 40.5%;
            display: inline-block;
            vertical-align: top;
            margin-left: 9%;
            position: relative;
            z-index: 99999;

            @include media(normal) {
                & {
                    margin-left: 5%;
                }
            }

            h2 {
                @include h2
            }
            p {
                margin-bottom: 27px;

                @include media(normal) {
                    & {
                        font-size: 17px;
                        margin-bottom: 15px;
                    }
                }

            }
            a.contact_us {
                @include parpal_btn;
                padding: 20px 37px;
                position: relative;
                @include btn_effect;
                margin-top: 34px;

                @include media(normal) {
                    & {
                        font-size: 20px;
                        margin-top: 20px;
                        padding: 15px 32px;
                    }
                }
            }

        }
    }

    .about_aftr {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        width: 500px;
        overflow: hidden;
        @include background(center center, cover);

        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right: 249px;
            background-color: #fff;
            z-index: 99;
            width: 610px;
            height: 100%;
            transform: skew(-39deg);

            @include media(normal) {
                & {
                    right: 217px;
                }
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}


.about_botm_sec {
    @include background(center center, cover);
    position: relative;
    height: 280px;

    @include media(normal) {
        & {
            height: 200px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/*level css start*/

.level_con {
    @include background(center center, cover);
    padding: 100px 0 55px;
    position: relative;

    @include media (normal) {
        padding: 70px 0 25px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9;
    }

    .level_inn {
        position: relative;
        z-index: 99;


        .level_bx_outr {

            .level_bx {
                min-height: 396px;
                box-shadow: 0 0 7px 1px rgba(153, 153, 153, 0.7686274509803922);
                background-color: $level-color;
                position: relative;
                overflow: hidden;
                margin-bottom: 45px;
                @include transition(all ease-in-out 0.5s);

                @include media(normal) {
                    min-height: 366px;
                    margin-bottom: 30px;
                }

                &:hover {
                    box-shadow: 0 8px 10px 1px rgba(153, 153, 153, 0.7686274509803922);
                }

                .level_cont {
                    padding: 0 20px;
                    text-align: center;
                    height: 100%;
                    padding-bottom: 74px;

                    h3 {
                        border-bottom: 1px solid $green-color;
                        font-size: 26px;
                        color: $primaryColor;
                        font-weight: normal;
                        font-family: 'Phenomena-Bold';
                        padding: 17px 10px;
                        margin-bottom: 30px;
                    }

                    figure {
                        width: 123px;
                        height: 123px;
                        background-color: $green-color;
                        @include border-radius(100%);
                        display: inline-block;
                        margin-bottom: 20px;
                        background-repeat: no-repeat;
                        @include transition(all ease-in-out 0.5s);
                        background-position: center center;



                        @include media(normal) {
                            & {
                                width: 100px;
                                height: 100px;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    h4 {
                        font-size: 26px;
                        color: $black-color;
                        font-weight: normal;
                        font-family: 'Phenomena-Bold';
                        letter-spacing: 0.025em;

                        @include media(normal) {
                            & {
                                font-size: 22px;
                                line-height: 27px;
                            }
                        }
                    }
                }
                a.show_more_btn {
                    @include btn_effect;
                    @include parpal_btn;
                    display: block;
                    padding: 20px 40px 20px 50px;
                    text-transform: capitalize;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    z-index: 99;

                    .fa {
                        float: right;

                        @include transition(all ease-in-out 0.5s);
                    }

                    &:hover {
                        .fa {
                            @include transform(translateX(10px));
                        }
                    }

                    @include media(normal) {
                        & {
                            padding: 16px 40px 16px 50px;
                        }
                    }
                }
                .level_overlay {
                    position: absolute;
                    top: 0;
                    @include transform(translateY(116%));
                    @include transition(all ease-in-out 0.5s);
                    left: 0;
                    bottom: 0;
                    z-index: 9;
                    right: 0;
                    background-color: rgba(86, 46, 137, 0.9);

                    .level_cont {
                        h3 {
                            color: $white-color;
                            border-color: $white-color;
                        }
                        p {
                            color: $white-color;
                            font-family: 'Phenomena-Bold';
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 0.025em;
                            padding: 40px 20px;


                            @include media(normal) {
                                & {
                                    padding: 20px 20px;
                                    font-size: 17px;
                                }
                            }
                        }

                    }
                }

                &:hover {

                    .level_overlay {
                        @include transform(translateY(0));
                        @include transition(all ease-in-out 0.5s);
                    }

                    figure {
                        background-color: $parpal-color;
                        border-radius: 0;
                    }
                }

            }
            .level_static {
                background: url(../images/level-bx-bg.jpg) center center no-repeat;
                height: 396px;



                @include media(normal) {
                    & {
                        height: 360px;
                    }
                }

                h3 {
                    font-size: 49px;
                    color: $white-color;
                    font-family: 'Phenomena-Bold';
                    border-bottom: 1px solid $white-color;
                    display: inline-block;
                    padding-bottom: 16px;

                    @include media(normal) {
                        font-size: 40px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}



/*newsletter sec css*/

.newsletter_con {
    position: relative;
    @include background(center center, cover);
    padding: 68px 0;


    @include media(normal) {
        & {}
    }


    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(86, 46, 137, 0.87);
    }

    .newleter_inn {
        position: relative;
        z-index: 999;

        h2 {
            @include h2;
            display: inline-block;
            border-bottom-color: $green-color;
            color: $white-color;
            padding-bottom: 25px;
            margin-bottom: 57px;

            @include media(normal) {
                & {
                    margin-bottom: 40px;
                }
            }
        }

        .newleter_form {
            form {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                input[type="text"].form-control {
                    /* margin-right: 6px;*/
                    box-shadow: none;
                    border-radius: 0;
                    border-width: 2px;
                    border-color: transparent;
                    height: 70px;
                    width: 40.7%;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 16px;
                    font-family: 'Phenomena-Bold';

                    @include media(normal) {
                        & {
                            height: 60px;
                        }
                    }

                    &:hover,
                    &:focus {
                        border-color: $green-color;
                    }
                }
                .n_field {
                    text-transform: capitalize;
                }

                input[type="submit"].submit_btn {
                    @include green_btn;
                    padding: 20px 66px;
                    text-align: center;
                    height: 70px;
                    display: inline-block;
                    vertical-align: top;
                    border: 0;
                    @include transition(all ease-in-out .5s);

                    @include media(normal) {
                        & {
                            height: 60px;
                            padding: 20px 33px;
                        }
                    }

                    &:hover,
                    &:focus {
                        background-color: $white-color;
                        color: $green-color;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $black-color;
    padding: 28px 0;

    @include media(normal) {
        & {
            padding: 20px 0;
        }
    }
    p {
        font-size: 18px;
        color: $white-color;
        letter-spacing: 0.025em;

        span {
            float: right;

            a {
                color: #1dbdeb;

                &:hover {
                    color: $green-color;
                }
            }
        }
    }
}




/*about us page css*/

.banner_inn_con {
    height: 529px;
    @include background(center center, cover);
    position: relative;

    @include media(normal) {
        height: 370px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
}


/*our vision css*/

.our_visio_con {
    padding: 86px 0 100px;

    @include media(normal) {
        padding: 60px 0;
    }
    .our_visio_lt {
        width: 49%;
        display: inline-block;

        h2 {
            @include h2;
            margin-bottom: 26px;
        }

        h3 {
            font-size: 17px;
            color: $primaryColor;
            font-family: 'Phenomena-Bold';
            margin-bottom: 30px;

            @include media(normal) {
                & {
                    margin-bottom: 15px;
                }
            }
        }
        p {
            margin-bottom: 28px;

            @include media(normal) {
                & {

                    margin-bottom: 15px;
                }
            }
        }
        .contact_btn {
            @include parpal_btn;
            padding: 20px 37px;
            position: relative;
            margin-top: 30px;
            @include btn_effect;

            @include media(normal) {
                & {
                    font-size: 20px;
                    margin-top: 20px;
                    padding: 15px 32px;
                }
            }
        }

    }

    .our_visio_rt {
        figure {
            width: 648px;
            height: 464px;
            position: relative;
            border-top: 1px solid #f2f0f4;
            @include background(center center, cover);


            @include media(normal) {
                & {
                    width: 468px;
                    height: 335px;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: auto;
                bottom: -27px;
                left: -27px;
                right: auto;
                width: 27px;
                height: 100%;
                background-color: #eaeaea;

                @include media(normal) {
                    & {

                        left: -20px;
                        width: 20px;
                        bottom: -20px;

                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: auto;
                bottom: -27px;
                left: -27px;
                right: auto;
                width: 100%;
                height: 27px;
                background-color: #eaeaea;

                @include media(normal) {
                    & {
                        bottom: -20px;
                        left: -20px;
                        height: 20px;
                    }
                }

            }
        }
    }
}


/*our founder con*/

.our_founder_con {
    background-color: $grey-color;
    padding: 50px 0 60px;
    text-align: center;

    h2 {
        @include h2;
        margin-bottom: 58px;
        padding-bottom: 0;
        border-bottom: 0;
        text-align: center;
    }
    .our_foundr_inn {
        max-width: 1200px;
        width: 100%;
        margin: auto;

        .foundr_pro {
            margin-bottom: 40px;
            width: 100%;
            display: inline-block;

            &:last-child {
                margin-bottom: 0;
            }

            figure {
                width: 367px;
                height: 450px;
                @include background(center center, cover);
                display: inline-block;
                vertical-align: middle;
                margin: 0 6px 0 96px;

                @include media(normal) {
                    & {
                        width: 300px;
                        height: 380px;
                    }
                }
            }


            .foundr_cont {
                width: 60.5%;
                display: inline-block;
                vertical-align: middle;
                background-color: $white-color;
                padding: 24px 20px;
                position: relative;
                text-align: left;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -470px;
                    bottom: 0;
                    width: 85px;
                    background-color: $white-color;

                    @include media(normal) {
                        & {
                            left: -403px;
                        }
                    }


                }

                h3 {
                    font-size: 30px;
                    color: $black-color;
                    font-family: 'Phenomena-Bold';
                    margin-bottom: 6px;

                    @include media(normal) {
                        & {
                            font-size: 24px;
                        }
                    }
                }

            }
            h4 {
                font-size: 20px;
                color: $black-color;
                padding-bottom: 26px;
                border-bottom: 1px solid $green-color;
                margin-bottom: 21px;

                @include media(normal) {
                    & {
                        font-size: 18px;
                        padding-bottom: 16px;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }

}



/*gallery page css*/

.gallery_con {

    border-top: 1px solid $grey-color;
    .gallery_bx {
        background-color: $white-color;
        padding: 90px 0;
        background-color: $white-color;

        @include media(normal) {
            & {
                padding: 60px 0;
            }
        }


        &:nth-child(even) {
            background-color: $grey-color;

            figure {
                float: right;
            }
            .figure_content {
                padding-left: 0;
                padding-right: 50px;
                @include media(normal) {
                    & {
                        padding-left: 0;
                    }
                }
            }
        }
        figure {
            width: 394px;
            height: 480px;
            @include background(center center, cover);
            display: inline-block;
            vertical-align: top;



            @include media(normal) {
                & {
                    width: 345px;
                    height: 422px;
                }
            }
        }

        .figure_content {
            width: 69%;
            display: inline-block;
            padding-left: 50px;
            vertical-align: top;

            @include media(normal) {
                & {
                    padding-left: 30px;
                }
            }

            h3 {
                font-size: 32px;
                color: $black-color;
                margin: -7px 0 8px;
                font-family: 'Phenomena-Bold';

                @include media(normal) {
                    & {
                        font-size: 25px;
                    }
                }

            }

            h4 {
                font-size: 24px;
                color: $black-color;
                padding-bottom: 20px;
                border-bottom: 1px solid $green-color;
                margin-bottom: 28px;
                font-weight: normal;

                @include media(normal) {
                    & {
                        font-size: 20px;
                        padding-bottom: 17px;
                        margin-bottom: 18px;
                    }
                }

            }

            p {
                margin-bottom: 28px;
            }
            h5 {
                font-size: 20px;
                color: #562e89;
                font-family: 'Phenomena-Bold';
                letter-spacing: 0.025em;
                font-weight: normal;
            }
        }

    }
}


/*corporation page css*/

.corporation_con {
    background-color: $grey-color;
    padding: 93px 0 34px;

    @include media(normal) {
        padding: 60px 0 0;
    }

    .corporation_bx {
        margin-bottom: 58px;

        .corpo_bx_inn {
            background-color: $white-color;
            @include transition(all ease-in-out 0.5s);

            figure.main_figure {
                width: 100%;
                height: 278px;
                @include background(center center, cover);
            }
            .figure_head {
                background-color: $parpal-color;
                padding: 21px 22px;

                @include media(normal) {
                    & {
                        padding: 15px 22px
                    }
                }

                h3 {
                    color: $white-color;
                    font-size: 26px;
                    font-family: 'Phenomena-Bold';
                    letter-spacing: 0.025em;

                    @include media(normal) {
                        & {
                            font-size: 22px;
                        }
                    }
                }
            }

            .corpo_cont {
                padding: 14px 22px 20px;
                background-color: $white-color;

                .pro_figure_bx {
                    margin-bottom: 13px;

                    figure {
                        width: 62px;
                        height: 62px;
                        border-radius: 100%;
                        @include background(center center, cover);
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                    .pro_cont {
                        display: inline-block;
                        vertical-align: middle;

                        h3 {
                            font-size: 24px;
                            color: $black-color;
                            font-family: 'Phenomena-Bold';
                            margin-bottom: 2px;

                            @include media(normal) {
                                & {
                                    font-size: 22px;
                                }
                            }

                        }
                        h4 {
                            font-size: 15px;
                            color: $black-color;
                        }
                    }

                }
                p {
                    line-height: 27px;
                }

                .get_touch_btn {
                    color: $parpal-color;
                    font-size: 20px;
                    border-bottom: 1px solid $parpal-color;
                    font-family: 'Phenomena-Bold';
                    margin-top: 13px;
                    display: inline-block;

                    &:hover {
                        margin-left: 10px;
                        border-bottom: 1px solid $green-color;
                        color: $green-color;
                    }
                }
            }


            &:hover {
                box-shadow: 0 10px 10px 0 #ddd;
                @include transform(translateY(-10px));
            }
        }
    }
}



/*popup style*/

.modal {
    z-index: 999999;

    .modal-dialog {
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

        &:after {
            content: "";
            position: absolute;
            bottom: -67px;
            left: 0;
            right: 0;
            height: 68px;
            background: url(../images/pop-shadow.png) center bottom no-repeat;
        }

        @include pop_transform(translateY(-50%));

        .pop_body {
            background-color: $white-color;
            padding: 50px 62px 60px;
            position: relative;

            @include media(normal) {
                & {
                    padding: 30px 42px 40px;
                }
            }
            .close {
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 40px;

                &:hover,
                &:focus {
                    outline: 0;
                }
            }

            .pop_header {
                margin-bottom: 48px;

                @include media(normal) {
                    & {
                        margin-bottom: 38px;
                    }
                }

                h2 {
                    @include h2;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    text-transform: capitalize;

                    @include media(normal) {
                        & {
                            margin-bottom: 0;
                            padding: 0;
                        }
                    }
                }
                p {
                    a {
                        color: $parpal-color;
                        &:hover {
                            color: $green-color;
                        }
                    }
                }
            }

            .form_bx {
                .form-group {
                    margin-bottom: 30px;

                    @include media(normal) {
                        & {
                            margin-bottom: 20px;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    input.form-control {
                        border-radius: 0;
                        border-color: #c9c9c9;
                        font-size: 17px;
                        box-shadow: none;
                        height: 50px;
                        font-family: 'arial';
                        font-weight: 300;

                        &:hover,
                        &:focus {
                            border-color: $parpal-color;
                        }
                        @include media(normal) {
                            & {
                                font-size: 15px;
                                height: 45px;
                            }
                        }
                    }
                    p.forgot_pass {
                        text-align: right;
                        margin-top: 5px;
                        letter-spacing: 0.025em;

                        a {
                            color: $red-color;

                            &:hover {
                                color: $green-color;
                            }
                        }
                    }

                    input[type="submit"].sbmt_btn {
                        @include parpal_btn;
                        display: block;
                        width: 100%;
                        border: 0;
                        outline: 0;
                        padding: 14px 10px 16px;
                        @include transition(all ease-in-out 0.5s);

                        &:hover,
                        &:focus {
                            background-color: $green-color;
                        }
                    }

                }

                p.register_btn {
                    font-size: 18px;
                    color: $black-color;
                    margin-top: 16px;
                    font-family: 'Phenomena-Light';

                    a {
                        color: $parpal-color;

                        &:hover,
                        &:focus {
                            color: $green-color;
                        }
                    }
                }
            }
        }
    }
}


/*faq style*/

.faq_baner_inn {


    h3 {
        font-size: 75px;
        color: $white-color;
        position: relative;
        z-index: 9999;
        text-align: right;
        padding-right: 15%;

        @include media(normal) {
            font-size: 55px;
        }
    }
}


.faq_con {
    background-color: $grey-color;
    padding: 90px 0;

    @include media(normal) {
        & {
            padding: 60px 0;
        }
    }

    .faq_inn {
        max-width: 1140px;
        margin: auto;
        width: 100%;

        .faq_search_bx {
            background-color: #fff;
            position: relative;
            margin-bottom: 34px;

            @include media(normal) {
                & {
                    margin-bottom: 28px;
                }

            }

            form {
                input[type="text"].form-control {
                    height: 75px;
                    background-color: #fff;
                    border-radius: 0;
                    font-size: 17px;
                    color: $primaryColor;
                    box-shadow: none;
                    border-color: transparent;
                    padding-right: 210px;

                    @include media(normal) {
                        & {
                            height: 60px;
                        }
                    }

                }
                input[type="submit"].search_btn {
                    width: 195px;
                    text-align: center;
                    font-size: 22px;
                    background-color: $parpal-color;
                    height: 75px;
                    color: $white-color;
                    border: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-transform: uppercase;
                    @include transition(all 0.4s ease-in-out);
                    font-family: 'Phenomena-Regular';
                    font-weight: normal;
                    letter-spacing: 0.050em;

                    @include media(normal) {
                        & {
                            height: 60px;
                        }
                    }

                    &:hover,
                    &:focus {
                        outline: 0;
                        background-color: $green-color;
                    }
                }
            }
        }

        .faq_list_bx {
            .faq_list_lt {
                background-color: #fff;
                padding: 26px;
                width: 49%;
                margin-right: 1.6%;
                display: inline-block;
                vertical-align: top;

                &:last-child {
                    margin-right: 0;
                }

                .accordion {
                    width: 100%;

                    li {
                        margin-bottom: 8px;
                        border: 1px solid #d8d8d8;
                        margin-bottom: 30px;
                        @include transition(all 0.4s ease-in-out);

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:hover {
                            .link {
                                background-color: #ececec;
                            }
                        }

                        .link {
                            cursor: pointer;
                            display: block;
                            padding: 18px 18px;
                            color: #5a5a5a;
                            background-color: transparent;
                            position: relative;
                            @include transition(all 0.4s ease-in-out);

                            h3 {
                                font-size: 18px;
                                color: #404041;
                                font-family: 'Phenomena-Bold';
                                letter-spacing: 0.025em;
                            }

                            &:after {
                                content: "\f078";
                                position: absolute;
                                top: 17px;
                                right: 10px;
                                font-size: 18px;
                                color: #562e89;
                                font-family: FontAwesome;
                                font-style: normal;
                                font-weight: normal;
                                text-decoration: inherit;
                            }
                        }


                        .submenu {
                            display: none;
                            padding: 20px 18px 28px;
                            background-color: transparent;

                        }

                        &.open {
                            @include transition(all 0.4s ease-in-out);
                            .link {
                                background-color: #ececec;

                                &:after {
                                    content: "\f077";
                                }
                            }
                            .submenu {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

    }
}




/*contact us style*/

.contact_con {
    padding: 90px 0;
    background-color: $grey-color;

    @include media(normal) {
        & {
            padding: 60px 0;
        }
    }

    .contact_inn {
        .custom_form {
            min-height: 742px;

            @include media(normal) {
                & {
                    min-height: 640px;
                }
            }
        }
        .contact_form_lt {
            background-color: #fff;
            padding: 37px 80px;
            width: 60%;
            display: inline-block;
            margin-right: -4px;

            @include media(normal) {
                & {
                    padding: 36px 50px;
                }
            }


            h2 {
                @include h2;
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 39px;
            }

            .form_bx {
                .form-group {
                    margin-bottom: 29px;

                    &:first-child {
                        text-transform: capitalize;

                        input[type="text"].form-control {
                            text-transform: capitalize;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }

                    textarea.form-control,
                    input[type="text"].form-control {
                        height: 60px;
                        border-radius: 4px;
                        padding: 10px 20px;
                        border-color: #dedede;
                        font-size: 17px;
                        font-family: 'Phenomena-Bold';
                        box-shadow: none;
                        letter-spacing: 0.025em;


                        &:hover,
                        &:focus {
                            border-color: $parpal-color;
                        }


                        @include media(normal) {
                            & {
                                height: 60px;
                            }
                        }
                    }
                    textarea.form-control {
                        height: 138px;
                        resize: none;
                    }

                    input[type="text"].submit_btn {
                        width: 100%;
                        text-align: center;
                        padding: 28px 10px;
                        background-color: $green-color;
                        color: $white-color;
                        border: 0;
                        outline: 0;
                        @include green_btn;
                        font-family: 'Phenomena-Bold';
                        @include transition(all 0.4s ease-in-out);
                        cursor: pointer;
                        border-radius: 4px;

                        @include media(normal) {
                            & {
                                padding: 18px 10px;
                            }
                        }

                        &:hover,
                        &:focus {
                            background-color: $parpal-color;
                        }
                    }
                }
            }
        }

        .contact_fotm_rt {
            width: 40%;
            background-color: #000;
            display: inline-block;
            vertical-align: top;
            height: 500px;
            position: relative;

            iframe {
                width: 100%;
                height: 100%;
            }
            .contact_fotm_overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 175px 100px 90px;
                background-color: rgba(86, 46, 137, 0.9);

                @include media(normal) {
                    & {
                        padding: 115px 50px;
                    }
                }

                ul {
                    li {
                        margin-bottom: 47px;
                        @include media(normal) {
                            & {
                                margin-bottom: 36px;
                            }
                        }

                        figure {
                            width: 90px;
                            height: 90px;
                            border-radius: 100%;
                            background-color: $green-color;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: -4px;
                            position: relative;

                            svg {
                                fill: $white-color;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                right: 0;
                                text-align: center;
                                @include transform(translateY(-50%));
                                margin: auto;
                            }
                            #map {
                                width: 39px;
                                height: 37px;

                                @include media(normal) {
                                    & {
                                        width: 35px;
                                        height: 32px;
                                    }
                                }
                            }

                            #msg {
                                width: 43px;
                                height: 44px;
                                @include media(normal) {
                                    & {
                                        width: 33px;
                                        height: 34px;
                                    }
                                }
                            }
                            #mobile {
                                width: 27px;
                                height: 47px;

                                @include media(normal) {
                                    & {
                                        width: 22px;
                                        height: 43px;
                                    }
                                }
                            }

                            @include media(normal) {
                                & {
                                    width: 70px;
                                    height: 70px;
                                }
                            }

                        }
                        .adress_bx {
                            display: inline-block;
                            vertical-align: middle;
                            padding-left: 48px;
                            width: 75%;

                            @include media(normal) {
                                & {
                                    width: 74%;
                                    padding-left: 40px;
                                }
                            }

                            p {
                                color: $white-color;
                                font-size: 24px;
                                letter-spacing: 0.025em;
                                line-height: 28px;

                                a {
                                    color: $white-color;

                                    &:hover {
                                        color: $green-color;
                                    }
                                }

                                @include media(normal) {
                                    & {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                .sm_bx {
                    position: absolute;
                    top: auto;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    text-align: right;

                    ul {
                        li {
                            margin-bottom: 0;
                            margin-right: 28px;
                            display: inline-block;

                            a {
                                &:hover {
                                    svg {
                                        fill: $green-color;
                                    }
                                }
                                svg {
                                    width: 62px;
                                    height: 62px;
                                    fill: $white-color;
                                    @include transition(all 0.4s ease-in-out);

                                    @include media(normal) {
                                        & {
                                            width: 52px;
                                            height: 52px;
                                        }
                                    }
                                }
                                &:hover {
                                    img {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}



/*coruse page css*/

.level_reward_con {
    padding: 75px 0;

    h2 {
        @include h2;
        border-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }

    .courese_aim_blk {
        .course_aim_lt {
            width: 36%;
            display: inline-block;
            vertical-align: top;

            h3 {
                @include h2;
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 30px;
                color: $primaryColor;
            }

            p {
                font-size: 20px;
                letter-spacing: 0.025em;
            }
            h4 {
                margin: 30px 0;
                font-family: 'Phenomena-Bold';
                font-size: 20px;
                letter-spacing: 0.020em;
                color: $primaryColor;
            }

            ul {
                li {
                    font-size: 20px;
                    color: $primaryColor;
                    letter-spacing: 0.025em;
                    margin-bottom: 8px;
                }
            }
        }

        .course_aim_rt {
            width: 58%;
            display: inline-block;
            vertical-align: top;

            figure {
                width: 824px;
                height: 424px;
            }
        }
    }
}







/*thank you page css*/

.thank_you_con {
    position: relative;
    text-align: center;
    padding: 80px 0;
     @include linearGradient($parpal-color, $white-color);

    .thank_you_inn {
        max-width: 500px;
        width: 100%;
        height: 500px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        @include linearGradient($parpal-color, $white-color);
        position: relative;
        @include background(center center, cover);
        
        .thank_cont {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
             @include transform(translateY(-50%));
            padding: 20px 50px;

            h1 {
                color: $white-color;
                font-size: 63px;
                text-transform: uppercase;
                letter-spacing: 0.50em;
                font-family: 'Phenomena-Bold';
                line-height: 104px;
                margin-bottom: 30px;
                padding-left: 5%;

                span {
                    display: block;
                    color: $parpal-color;
                    font-size: 130px;
                    text-shadow: -1px 83px 138px #ddd;
                    letter-spacing: 0.210em;
                }
            }

            p {
                font-size: 20px;
                color: $parpal-color;
            }
        }
    }
}
